accordion-group {
    margin-bottom: 20px;
    ::ng-deep {
      div {
        &>div.panel-heading.card-header.panel-enabled {
          background-color: #ffffff; 
          
          .btn-link {
              color: rgb(6, 10, 9); // change the accordion heading buttons style
              font-weight: 500;
              font-size: 20px;
              &:hover, &:focus, &:active{
                  text-decoration: none;
              }
          }
        }

        &>div.panel-body.card-block.card-body{
            padding: 0 !important;
        }
  
        &>div.panel-collapse.collapse.in.show>div {
          background-color: hsla(210, 10%, 83%, 0.10); // change the expanded content style
        }
      }
    }
}
.Question-table{
    margin: 0;
    table{
        margin: 0;
        tr{
            background: none !important;    
            .Dimention-Value{
                text-align: left !important;
            }
            &:nth-of-type(odd) td{
                background: #f2f1fe6b;
            }
            th{
                font-weight: 600;
                vertical-align: middle;
                border: 1px solid #edf1f7;
                background: none;
                text-align: center;
            }
            td{
                font-weight: 400;
                border: 1px solid #edf1f7;
                vertical-align: middle;
                input{
                    border: 1px solid #ced4da;
                    vertical-align: middle;
                    width: 100%;
                    margin: 0;
                    resize: none;
                    text-align: center;
                    padding: 10px;
                    &:read-only {
                        background: none;
                        border: none;
                        padding: 10px 0;
                    }
                }
                select{
                    border: 1px solid #ced4da;
                    &:disabled{
                        background: none !important;
                        border: none;
                        color: #000000;
                    }
                }
            }
            .dimention{
                width: 250px;
            }
            .dimention, .block-index{
                text-align: center;
                select{
                    width: 60px !important;
                    text-align: center;
                    padding: 5px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
                    text-align-last:center;
                }
            }
            .Actions{
                text-align: center;
                width: 200px;
                .btn{
                    border: none;
                    border-radius: 0;
                    margin: 0 5px;
                }
                svg{
                    width: 24px;
                    fill: #454560;
                    cursor: pointer;
                    :hover{
                        fill: #454560;
                    }
                }
            }
        }
    }
}