<header>
    <h3 class="page-title">Configurations</h3>
</header>
<section class="main-section">
    <div class="Question-table">
        <accordion>
            <accordion-group heading="Industry" [isOpen]="true">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="Dimention-Value" width="15%">Industry</th>
                        <th width="5%">Companies</th>
                        <th width="10%">D1</th>
                        <th width="10%">D2</th>
                        <th width="10%">D3</th>
                        <th width="10%">D4</th>
                        <th width="10%">D5</th>
                        <th width="10%">D6</th>
                        <th width="10%">D7</th>
                        <th width="10%">D8</th>
                        <th width="15%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of industryList; let i = index">
                        <td>{{item.name}}</td>
                        <td><input class="form-control" type="number" value="{{item.companies}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'companies', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D1}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D1', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D2}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D2', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D3}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D3', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D4}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D4', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D5}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D5', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D6}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D6', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D7}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D7', $event)"></td>
                        <td><input class="form-control" type="number" value="{{item.D8}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'D8', $event)"></td>
                        <td class="Actions">
                            <button type="button" class="btn" [hidden]="DimentionEdit" (click)="editable(i)" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                            <button type="button" class="btn" [hidden]="!DimentionEdit" (click)="updateIndustry(item)" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                                  </svg>
                            </button>
                           
                        </td>
                      </tr>
                      
                    </tbody>
                </table>
            </accordion-group>
            <accordion-group heading="Dimension">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="Dimention-Value" width="50%">Dimension</th>
                        <th width="10%">LHI India Score</th>
                        <th width="15%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dimentionsList; let i = index">
                        <td>{{item.name}}</td>
                        <td><input class="form-control" value="{{item.score}}" [readonly]="!DimentionEdit" (keyup)="updateValue(item, 'score', $event)"></td>
                        <td class="Actions">
                            <button type="button" class="btn" [hidden]="DimentionEdit" (click)="editable(i)" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                            <button type="button" class="btn" [hidden]="!DimentionEdit" (click)="updateDimention(item)" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                                  </svg>
                            </button>
                        </td>
                      </tr>
                      
                    </tbody>
                </table>
            </accordion-group>
        </accordion>
        
    </div>
</section>
