<div class="container">
    <div class="row heading">
        <div class="col-3"></div>
        <div class="col-6">
            <h4>Lorem ipsum Integrations Heading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="table-section">
        <p>Please answer following questions</p>
        <div class="questionnarie-table">
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2" class="questions">What do you think about the present state of Learning & Development in your Organization</th>
                        <th colspan="6">Response</th>
                    </tr>
                    <tr>
                        <th>Strongly Disagree</th>
                        <th>Disagree</th>
                        <th>Neutral</th>
                        <th>Agree</th>
                        <th>Strongly Agree</th>
                        <th>Numeric Response</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Business is always involved in identifying the current and future skilling needs of the organization.</td>
                        <td>                     
                            <label><input type="radio" name="optradio">1</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">2</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">3</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">4</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">5</label>
                        </td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Business is always involved in identifying the current and future skilling needs of the organization.</td>
                        <td>                     
                            <label><input type="radio" name="optradio">1</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">2</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">3</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">4</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">5</label>
                        </td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Business is always involved in identifying the current and future skilling needs of the organization.</td>
                        <td>                     
                            <label><input type="radio" name="optradio">1</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">2</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">3</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">4</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">5</label>
                        </td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Business is always involved in identifying the current and future skilling needs of the organization.</td>
                        <td>                     
                            <label><input type="radio" name="optradio">1</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">2</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">3</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">4</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">5</label>
                        </td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Business is always involved in identifying the current and future skilling needs of the organization.</td>
                        <td>                     
                            <label><input type="radio" name="optradio">1</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">2</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">3</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">4</label>
                        </td>
                        <td>                     
                            <label><input type="radio" name="optradio">5</label>
                        </td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
