.container{
    padding: 6% 0;
    .heading{
        margin-bottom: 50px;
        h4{
            font-size: 65px;
            text-align: center;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 30px;
        }
        p{
            text-align: center;
            font-size: 20px;
        }
    }

    .table-section{
        text-align: center;
        .questionnarie-table{
            margin-top: 60px;
            max-width: 80%;
            margin: 0 auto;
            .question{
                margin: 50px 0;
                border-radius: 50px;
                box-shadow: 0px 10px 15px #00000029;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                display: flex;
                align-items: center;
                padding: 30px 30px 30px 100px;
                position: relative;
                .qs-icon{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    left: 0;
                    border-radius: 100%;
                    padding: 25px;
                    background: #454560 0% 0% no-repeat padding-box;
                    svg{
                        fill: #ffffff;
                    }
                }
                p{
                    flex: 2;
                    font-size: 18px;
                    font-weight: 500;
                    padding-right: 40px;
                    line-height: 1.7;
                    text-align: left;
                    margin: 0;
                }
                ul{
                    flex: 1;
                    list-style-type: none;
                    padding: 0;
                    border-left: solid 2px #ccc;
                    padding-left: 40px;
                    margin: 0;
                    input{
                        margin-right: 15px;
                    }
                    label{
                        font-size: 16px;
                        line-height: 2;
                        font-weight: 600;
                    }
                }
            }
        }
        p{
            font-size: 32px;
            font-weight: bold;
            color: #1A1A1A;
            text-align: center;
        }
    }
}
