<header>
  <p class="page-breadcrumb">
    <span routerLink="/home"> Dashboard </span>/
    <span routerLink="/distributor"> {{ seletedBrand.name }} </span> / Order
    Management
  </p>
  <h3 class="page-title">Order Management</h3>
</header>

<section class="main-section">
  <div class="order-management-list row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group order-search mb-3">
            <span class="input-group-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </span>
            <!-- <span class="input-group-text order-placeholder">
                            TEDA364
                        </span> -->
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchText"
              aria-label="Enter Order No."
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchDistributor()"
            >
              Enter
            </button>
            <ul class="list-group list-group-flush" *ngIf="searchText">
              <li
                class="list-group-item"
                *ngFor="let c of distributors | orderFilter: searchText"
                searchHighlight
                [searchedWord]="searchText"
                [content]="c"
                [classToApply]="'font-weight-bold'"
                [setTitle]="true"
                (click)="selectDestributor(c)"
              >
                {{ c }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="clearfix"></div>
    <div class="col-md-8">
        <div *ngIf="selectedDistributor">
          <div class="account-info">
            <div class="col-12">
              <div class="row">
                <div class="col-3">
                  <p class="info-sub-title">Distributor</p>
                  <p class="info-title">
                    <strong>{{ selectedDistributor.code }}</strong>
                  </p>
                </div>
                <div class="col-3">
                  <p class="info-sub-title">Name</p>
                  <p class="info-title">
                    <strong>{{ selectedDistributor.name }}</strong>
                  </p>
                </div>
                <div class="col-3">
                  <p class="info-sub-title">Brand</p>
                  <p class="info-title">
                    <strong>{{ selectedDistributor.brand[0].name }}</strong>
                  </p>
                </div>
                <div class="col-3">
                  <p class="info-sub-title">Status</p>
                  <p class="info-title">
                    <strong>{{ selectedDistributor.active ? "Active" : "Block" }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="order-list custom-scrollbar"
            *ngFor="let product of selectedDistributor.products; index as i"
          >
            <div
              class="oder-item"
              *ngIf="product.productId.status"
            >
              <div class="product-img">
                <img
                  src="{{ serverImagePath }}/{{ product.productId.fileName }}"
                  default="{{ defaultImage }}"
                  class="img-fluidimg-thumbnail"
                  alt="product image"
                />
              </div>
              <div class="product-info">
                <h4>{{ product.productId.name }}</h4>
                <p class="Product-Price">
                  {{ product.price | number: "1.2-2" }} <span>Per Crate</span>
                </p>
                <p class="Crate-qty">
                  <span> {{ product.productId.packet }} </span> Packets per
                  Crate
                </p>
              </div>
              <div class="product-qty">
                <p>Quantity</p>
                <input
                  class="form-control"
                  type="text"
                  (change)="addQty($event, product, i)"
                  [disabled] = "!this.accountStatus"
                />
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-12">
<!--               <div
                class="alert alert-danger"
                role="alert"
                *ngIf="
                  isOrderTimeOut &&
                  selectedDistributor &&
                  selectedDistributor.route
                "
              >
                Your Order closing time is
                {{ selectedDistributor.route.closeTime }}. Please try again next
                day
              </div> -->
              <!-- *ngIf="!isOrderTimeOut" -->
              <button
                class="btn btn-primary add-cart"
                (click)="addToCart()"
                [disabled]="!totalAmount"
                >
                Add All To Cart
              </button>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</section>
