.main-section{
    .add-new-route{
        display: block;
        float: left;
        width: 100%;
        background-color: #ffffff;
        padding: 6%;
        margin: 0;
        box-shadow: 0 2px 24px 0 rgba(1,1,1,0.11);
        border-radius: 10px;
        h4{
            color: #000000;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 28px;
        }

        .form-section{
            margin-top: 60px;
            float: left;
            width: 100%;
        }
        button.add-item{
            background-color: #255D95;
            border-radius: 100px;
        }
        .input-group{
            .form-control{
                border-radius: 5px;
            }
            .input-group-text{
                background: none;
                border: none;
                svg{
                    width: 30px;
                    height: 30px;
                    fill: rgba(0,0,0,0.75);
                }
            }
        }
    }

    .generate-password{
        position: relative;
        .btn{
            position: absolute;
            right: 19px;
            top: 4px;
            padding: 0px 15px;
            height: 38px;
            background: rgba(220,161,12,1);
            border: none;
            line-height: 38px;
        }
    }

}