<header>
    <h3 class="page-title">Warehouses</h3>
    <button type="button" class="btn btn-primary add-new" (click)="open(mymodal)"> + Add Warehouse</button>
</header>

<section class="main-section">
    <div class="page-center-content">
        
        <div class="card" *ngFor="let item of warehouses" (click)="gotoRoute(item._id, item.name, item.code)" >
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
            </div>
        </div>
    </div>
</section>

<ng-template #mymodal let-modal>
    <div class="modal-body">
        <div class="add-new-warehouse agrisoft-forms">
            <h4>Add New Warehouse</h4>
            <div class="form-section custom-scrollbar">
                <form class="row g-3" [formGroup]="addWarehouseform" (ngSubmit)="onSubmit()">
                    <div class="col-md-8">
                        <label class="form-label">Enter Warehouse Name</label>
                        <input formControlName="name" id="name" (keyup)="onChangeEvent($event)" required type="text" class="form-control">
                        <div *ngIf="submitted && f.name.invalid" class="invalid-feedback">
                            Warehouse Name is Required
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Code</label>
                        <input formControlName="code" id="code" maxlength="1" required type="text" class="form-control">
                        <div *ngIf="submitted && f.code.invalid" class="invalid-feedback">
                            Warehouse Code is Required
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Add Warehouse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>