<header>
    <h3 class="page-title">Dashboard</h3>
</header>

<section class="main-section">
    <div class="page-center-content">
        <div class="row">
            <div class="col-12">
              <table class="table table-bordered country-table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Market LHI Speedometer </th>
                    <th scope="col">Industry LHI Speedometer </th>
                    <th scope="col">Company LHI Speedometer </th>
                    <th scope="col">Overall Web/Radar Chart </th>
                    <th scope="col">Dimension-wise Charts </th>
                    <th scope="col">Tech Trends Bar Charts </th>
                    <th scope="col">Critical Focus Areas </th>
                    <th scope="col">About EdCast Card </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>USA</th>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card1"></td>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card2"></td>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card3"></td>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card4"></td>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card5"></td>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card6"></td>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card7"></td>
                        <td><input type="checkbox" class="custom-control-input" id="USA-Card8"></td>
                    </tr>
                    <tr>
                        <th>Europe</th>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card1"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card2"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card3"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card4"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card5"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card6"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card7"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Europe-Card8"></td>
                    </tr>
                    <tr>
                        <th>India</th>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card1"></td>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card2"></td>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card3"></td>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card4"></td>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card5"></td>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card6"></td>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card7"></td>
                        <td><input type="checkbox" class="custom-control-input" id="India-Card8"></td>
                    </tr>
                    <tr>
                        <th>South East Asia</th>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card1"></td>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card2"></td>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card3"></td>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card4"></td>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card5"></td>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card6"></td>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card7"></td>
                        <td><input type="checkbox" class="custom-control-input" id="SouthEastAsia-Card8"></td>
                    </tr>
                    <tr>
                        <th>Australia & New Zealand</th>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card1"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card2"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card3"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card4"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card5"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card6"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card7"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Australia-NewZealand-Card8"></td>
                    </tr>
                    <tr>
                        <th>Middle East</th>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card1"></td>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card2"></td>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card3"></td>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card4"></td>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card5"></td>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card6"></td>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card7"></td>
                        <td><input type="checkbox" class="custom-control-input" id="MiddleEast-Card8"></td>
                    </tr>
                    <tr>
                        <th>Africa</th>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card1"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card2"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card3"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card4"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card5"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card6"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card7"></td>
                        <td><input type="checkbox" class="custom-control-input" id="Africa-Card8"></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
</section>