header .page-title{
    float: left;
}
.delete-warehouse{
    float: right;
    margin-top: 25px;
    span.btn{
        font-weight: 600;
        font-size: 20px;
    }
    
    .dropdown-menu{
        right: 0;
        padding: 20px;
        left: inherit !important;
        transform: translate3d(0px, 50px, 0) !important;
        border-radius: 9px;
        box-shadow: 0 2px 24px 0 rgba(1,1,1,0.11);
        border: none;
        &::before {
            content: "";
            display: inline-block;
            left: 5%; /* position */
            position: absolute;
            top: -8px;
        }
    
        &::after {
            content: "";
            display: inline-block;
            left: 5%; /* position */
            position: absolute;
            top: -7px;
        }
        span{
            font-size: 20px;
            color: #c82525;
            white-space: nowrap;
            font-weight: 600;
            margin-bottom: 20px;
            display: block;
        }
        .btn-group{
            width: 100%;
            .btn{
                border-radius: 5px;
                &.btn-danger{
                    background-color: rgba(231,118,73,1);
                    border:none;
                }
            }
        }
    }
}
.main-section{
    .routes-list{
        .routes-table{
            display: block;
            width: 100%;
            background-color: #ffffff;
            padding: 6%;
            margin: 0;
            box-shadow: 0 2px 24px 0 rgba(1,1,1,0.11);
            border-radius: 10px;
            .routes-table-header{
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 28px;
                    color: #2D2D2D;
                    text-align: left;
            }
            .row-head{
                margin-bottom: 25px;
            }
            .row-head,
            .row-item{
                display: flex;
                flex-direction: row;
                &>div{
                    flex: 1;
                    padding: 15px;
                }
                &>div:nth-child(2){
                    flex: 4;
                }
                &>div:nth-child(3){
                    flex: 4;
                }
                &>div:nth-child(4){
                    flex: 4;
                }
                &>div:nth-child(5){
                    flex: 4;
                    &>button{
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 19px;
                        border-radius: 13.5px;
                        padding: 5px 20px;
                        margin-right: 10px;
                    }
                    .distributor-block-btn{
                        background-color: #DCA10C;
                        border: none;
                    }
                    .distributor-block-edit{
                        background-color: #5C5C5C;
                        border: none;
                    }
                    .distributor-block-delete{
                          color: #C82525;
                          border-color: #C82525;
                          &:hover{
                              color: #ffffff;
                          }
                    }
                }
            }
            .row-item{
                border-bottom: 1px solid rgba(151, 151, 151, 0.23);
                &>div{
                    color: #545454;
                    font-family: Roboto;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 21px; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .routes-table-items,
            .routes-table-header{
                padding-right: 50px;
                text-align: center;
            }
        }
    }
}