<header>
    <p class="page-breadcrumb"> <span routerLink="/home"> Home </span> / 
        <span routerLink="/warehouses"> Warehouses </span> / {{warehouseName}}</p>
    <div>
        <h3 class="page-title">Routes</h3>
        <button type="button" class="btn btn-primary add-new" [routerLink]="['/add-route']" [queryParams]="{count: routeCount}"> + Add New</button>
    
        <!-- Example split danger button -->
        <div class="btn-group delete-warehouse">
            <span class="btn">{{warehouseName}}</span>
            <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
            </button>
            <div class="dropdown-menu">
                <span>Delete Warehouse?</span>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger" (click)="deleteWarehouse()" >Conform</button>
                    <button type="button" class="btn">Cancel</button>
                  </div>
            </div>
        </div>
    </div>

</header>
<section class="main-section">
    <div class="routes-list">
        <div class="routes-table">
            <div class="routes-table-header">
                <div class="row-head">
                    <div class="no-col">
                    </div>
                    <div class="route-col">
                        Route
                    </div>
                    <div class="open-time-col">
                        Open Time
                    </div>
                    <div class="close-time-col">
                        Close Time
                    </div>
                    <div class="manage-col"></div>
                </div>
            </div>
            <div class="routes-table-items custom-scrollbar">
                <div class="row-item" *ngFor="let route of RoutesList; let i = index">
                    <div class="no-col">
                        {{i+1}}
                    </div>
                    <div class="route-col">
                        {{route.name}}
                    </div>
                    <div class="open-time-col">
                        {{route.openTime}}
                    </div>
                    <div class="close-time-col">
                        {{route.closeTime}}
                    </div>
                    <div class="manage-col">
                        <button type="button" class="btn btn-dark  distributor-block-edit" [routerLink]="['/add-route']" [queryParams]="{id: route._id}">Edit</button>
                        <button type="button" (click)="dropRoute(route._id, route.name)" class="btn btn-outline-dark distributor-block-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>