.order-management-list{
    .order-info{
        margin: 30px 0;
        float: left;
        width: 100%;
        .row{
            width: 100%;
        }
        .info-sub-title{
            margin-bottom: 7px;
            color: #515151;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 14px;
            font-weight: 500;
        }
        .info-title{
            color: #000000;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 24px;
            strong{
                display: block;
            }
        }
    }

    .place-order{
        float: left;
        max-width: 1600px;
        .placeorder-table{
            display: block;
            width: 100%;
            margin: 0;
            .placeorder-table-header{
                color: #515151;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 14px;
                text-align: left;
            }
            .row-head{
                margin-bottom: 15px;
            }
            .row-head,
            .row-item{
                display: flex;
                flex-direction: row;
                &>div{
                    flex: 3;
                    padding: 25px;
                }
                &>div:nth-child(2){
                    flex: 1;
                    text-align: center;
                }
                &>div:nth-child(3){
                    flex: 1;
                }
                &>div:nth-child(4){
                    flex: 1;
                }
            }
            .row-item{
                border-top: 1px solid rgba(151, 151, 151, 0.7);
                &>div{
                    color: #545454;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 21px; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .placeorder-table-items,
            .placeorder-table-header{
                padding-right: 50px;
            }

            .qty-col{
                text-align: center;
                flex-direction: column;
                input{
                    height: auto;
                    width: 82px;
                    padding: 10px 12px;
                    border-radius: 4px;
                    background-color: #FFFFFF;
                    text-align: center;
                    border: none;
                    box-shadow: 0 1px 24px 0 rgba(0,0,0,0.22);
                    margin-bottom: 10px;
                    &:focus, &:active{
                        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.22) !important;
                    }
                }
                p{
                    color: #606060;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 19px;
                }
            }

            .packets-col{
                text-align: center;
                p{
                    color: #606060;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0;
                    line-height: 24px;
                    text-align: center;
                }
            }

            .price-col{
                text-align: center;
                p{
                    color: #258B1F;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 24px;
                }
            }

        }

        .oder-item{
            width: 100%;
            display: flex;
            align-items: center;
            .product-img{
                width: 100px;
                text-align: center;
                margin-right: 15px;
                border-radius: 15px;
                overflow: hidden;
                img{
                    max-width: 100%;
                    height: 100px;
                    display: block;
                    text-align: center;
                    object-fit: cover;
                }
            }
            .product-info{
                margin: 0 10px;
                flex: 3;
                h4{
                    font-size: 20px;
                    font-weight: 500;
                    color: #363636;
                    letter-spacing: 0;
                    line-height: 24px;
                }
                .Product-Price{
                    color: #258B1F;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 24px;
                    margin-bottom: 15px;
                    span{
                        font-weight: normal;
                        font-size: 16px;
                        vertical-align: top;
                        color: #363636;
                    }
                }
                .Crate-qty{
                    color: #363636;
                    margin-bottom: 0;
                    font-size: 12px;
                    font-style: italic;
                    letter-spacing: 0;
                    display: block;
                    float: left;
                    width: 100%;
                    line-height: 14px;
                    span{
                        color: #258B1F;
                        font-style: normal;
                    }
                }
            }
        }
    }

    .order-summery{
        background-color: rgba(216, 216, 216, 05);
        border-radius: 8px;
        width: 100%;
        min-height: 100px;
        padding: 30px 15px;
        h5{
            text-align: center;
            color: #000000;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 24px;
            margin-bottom: 25px;
        }

        .price-data{
            display: flex;
            padding: 15px 25px;
            align-items: center;
            div{
                &:first-child{
                    flex: 1;
                    color: #515151;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 14px;
                    text-align: right;
                }
                &:last-child{
                    flex: 2;
                    color: #363636;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 21px;
                    text-align: right;
                }
            }
            &.order-Grand-Total{
                div{
                    &:first-child{
                        color: #515151;
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 14px;
                    }
                    &:last-child{
                        color: #258B1F;
                        font-size: 26px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .btn-place-order{
        border-radius: 5px;
        border: none;
        background-color: #E77649;
        color: #FFFFFF;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
        text-align: center;
        padding: 15px;
        margin-top: 20px;
    }

}