<header>
    <p class="page-breadcrumb"> <span routerLink="/home"> Dashboard </span>/ <span routerLink="/distributor"> {{seletedBrand.name}} </span> / Order Management</p>
    <h3 class="page-title">Order Management</h3>
</header>

<section class="main-section order-management-list" *ngIf="cartProducts">
    <div class="row">
        <div class="col-md-8">
            <div class="order-info">
                <div class="col-12">
                    <div class="row">
                        <div class="row">
                            <div class="col-3">
                                <p class="info-sub-title">Distributor</p>
                                <p class="info-title"><strong>{{ cartProducts.code }}</strong></p>
                            </div>
                            <div class="col-3">
                                <p class="info-sub-title">Name</p>
                                <p class="info-title"><strong>{{ cartProducts.name }}</strong></p>
                            </div>
                            <div class="col-3">
                                <p class="info-sub-title">Brand</p>
                                <p class="info-title"><strong>{{ cartProducts.brand[0].name }}</strong></p>
                            </div>
                            <div class="col-3">
                              <p class="info-sub-title">Status</p>
                              <p class="info-title"><strong>{{ cartProducts.active ? "Active" : "Block" }}</strong></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="clearfix"></div>

    <div class="place-order">
        <div class="row">
            <div class="col-md-9">
                <div class="placeorder-table custom-scrollbar">
                    <div class="placeorder-table-header">
                        <div class="row-head">
                            <div class="item-col">
                                Product Name
                            </div>
                            <div class="qty-col">
                                Quantity
                            </div>
                            <div class="packets-col">
                                No of Packets
                            </div>
                            <div class="price-col">
                                Price
                            </div>
                        </div>
                    </div>
                    <div class="placeorder-table-items custom-scrollbar">
                        <div class="row-item"  *ngFor="let item of cartProducts.products; index as i">
                            <div class="item-col">
                                <div class="oder-item">
                                    <div class="product-img">
                                        <img  src="{{ serverImagePath }}/{{ item.productId.fileName }}" default="{{ defaultImage }}" class="img-fluidimg-thumbnail" alt="product image">
                                    </div>
                                    <div class="product-info">
                                        <h4>{{ item.productId.name }}</h4>
                                        <p class="Product-Price">{{ item.price  | number : '1.2-2' }} <span>Per Crate</span> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="qty-col">
                                <input maxlength="3" class="form-control" type="number" [value]=" item.qty" (keyup)="addQty($event, item, i)">
                                <p>Crates</p>
                            </div>
                            <div class="packets-col">
                                <p>{{ item.productId.packet }}</p>
                            </div>
                            <div class="price-col">
                                <p>{{ (item.qty > 0 ? item.qty * item.productId.packet : 0)  | number : '1.2-2' }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="order-summery">
                    <h5> Order Summery </h5>
                    <div class="price-data order-total">
                        <div>Order Total</div>
                        <div>{{ totalAmount | number : '1.2-2' }}</div>
                    </div>
                    <div class="price-data order-Outstanding">
                        <div>Outstanding</div>
                        <div>{{ cartProducts.outStandingAmount | number : '1.2-2' }}</div>
                    </div>
                    <div class="price-data order-Grand-Total">
                        <div>Total</div>
                        <div>{{ totalAmount + cartProducts.outStandingAmount | number : '1.2-2' }}</div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-place-order" [disabled]="!totalAmount" (click)="placeOrder()">Place Order</button>
            </div>
        </div>
    </div>

</section>
