<section class="container">
    <div>
        <form class="user-form">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Designation">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Company Name">
            </div>
            <div class="mb-3">
                <select name="Business Sector" id="" class="form-control" >
                    <option value="Business Sector">Business Sector</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="mail" class="form-control" placeholder="Official Mail ID">
            </div>
            <div class="mb-3">
                <button type="submit" (click)="validateForm()" class="btn btn-primary">Go to Questionnaire</button>
            </div>

        </form>
    </div>
    <header>
        <h3>Lorem ipsum Integrations heading</h3>
        <p>Leading financial institutions attract, develop and retain high performing talent with EdCast.</p>
    </header>
</section>