
<header>
    <h3 class="page-title">Questionnaires</h3>
</header>
<section class="main-section">
    <div class="Question-list">
        <div class="Question-table">
            <table class="table">
                <thead>
                  <tr>
                    <th>Actions</th>
                    <th>Question</th>
                    <th class="dimention">Dimension</th>
                    <th class="block-index">Block Index</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Edit Del</td>
                    <td>Learning in my organization isn't primarily seen to be a compliance requirement</td>
                    <td class="dimention">
                      <select>
                        <option value="1">1</option>
                      </select>
                    </td>
                    <td class="block-index">
                      <select>
                        <option value="1">1</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Edit Del</td>
                    <td>Learning in my organization isn't primarily seen to be a compliance requirement</td>
                    <td class="dimention">
                      <select>
                        <option value="1">1</option>
                      </select>
                    </td>
                    <td class="block-index">
                      <select>
                        <option value="1">1</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>