
main.admin{ 
    display: flex;
    width: 100%;
    app-sidenav{
        background-color: #ffffff;
        min-width: 270px;
        padding: 0px;
        flex: 1;
    }

    .dashboard-session{
        flex: 7;
    }
}

main.frontend{
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    app-frontend-footer{
        background: #454560;
        padding: 100px 0;
        float: left;
        width: 100%;
    }

    router-outlet{
        display: none;
    }
    
    frontend-dashboard{
        float: left;
        width: 100%;
    }
}