
main{   
    display: flex;
    width: 100%;
    app-sidenav{
        background-color: #ffffff;
        min-width: 270px;
        padding: 0px;
        flex: 1;
    }

    .dashboard-session{
        flex: 7;
    }
}