.main-section{
    .account-management-list{
        .account-search{
            background-color: #258B1F;
            border-radius: 4px;
            box-shadow: 0 3px 24px 0 rgba(0,0,0,0.1);
            position: relative;
            .input-group-text{
                background: #ffffff;
                border: none;
                padding: 0 20px;
                border-radius: 4px 0 0 4px !important;
                border-radius: 0;
                svg{
                    fill: #BFBFBF;
                }
            }
            .form-control{
                border: none;
                padding: 22px 0;
                padding-right: 15px;
                border-radius: 0 4px 4px 0;
            }
            .btn-outline-secondary{
                color: #fff;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 20px;
            }
            .list-group-flush{
                position: absolute;
                left: 0;
                top: 50px;
                width: 100%;
                float: left;
                z-index: 1;
                box-shadow: 0 3px 24px 0 rgba(0,0,0,0.1);
                li{
                    cursor: pointer;
                }
            }
            .account-placeholder{
                border-radius: 0 !important;
                color: #232323;
                padding-left: 0;
                padding-right: 8px;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 24px;
            }
        }
        .account-info{
            margin: 30px 0;
            float: left;
            width: 100%;
            .row{
                width: 100%;
            }
            .info-sub-title{
                margin-bottom: 7px;
                color: #515151;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 14px;
                font-weight: 500;
            }
            .info-title{
                color: #000000;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 24px;
                strong{
                    display: block;
                }
            }
        }
    
        .account-info-update{
            width: 100%;
    
            .current-account-info{
                padding: 20px 0;
                max-width: 1200px;
                display: flex;
                width: 100%;
                flex-direction: row;
                
                h5{
                    margin: 0;
                    color: #ffffff;
                    font-size: 73px;
                    font-weight: 400;
                    letter-spacing: 0;
                    line-height: 86px;
                    padding: 0 15px;
                }
                
                p{
                    margin: 0;
                    padding-right: 10px;
                    font-size: 21px;
                    letter-spacing: 0;
                    line-height: 1.3;
                    color: #ffffff;
                }
                .crates{
                    border-radius: 10px;
                    background: linear-gradient(252.47deg, #79C56A 0%, #549E49 100%);
                    box-shadow: 0 14px 30px -7px rgb(0 0 0 / 45%);
                    -webkit-box-shadow: 0 14px 30px -7px rgb(0 0 0 / 45%);
                    -moz-box-shadow: 0 14px 30px -7px rgb(0 0 0 / 45%);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 20px;
                }
                .money{
                    border-radius: 10px;
                    background: linear-gradient(252.47deg, rgba(106,117,197,1) 0%, rgba(46,37,95,1) 100%);
                    box-shadow: 0 14px 30px -7px rgb(0 0 0 / 45%);
                    -webkit-box-shadow: 0 14px 30px -7px rgb(0 0 0 / 45%);
                    -moz-box-shadow: 0 14px 30px -7px rgb(0 0 0 / 45%);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 20px;
                    margin-left: 30px;
                }
            }

            .current-account-edit{
                margin: 100px 0 30px;
                float: left;
                width: 100%;
                &>div{
                    display: inline-block;
                    max-width: 300px;
                    margin-right: 25px;
                    position: relative;
                    .form-label{
                        position: absolute;
                        padding: 7px 10px;
                        color: rgba(48,48,48,0.7);
                        top: -14px;
                        left: 20px;
                        background-color: #fff;
                        z-index: 1;
                        margin: 0;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 16px;
                    }
                    .form-control{
                        border: 1px solid rgba(151,151,151,1);
                        border-radius: 5px;
                        padding: 30px;
                        box-shadow: none;
                        background-color: rgba(255,255,255,1);

                        color: rgba(48,48,48,1);
                        font-size: 44px;
                        font-weight: 500;
                        letter-spacing: 0;

                        -moz-appearance: textfield;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }
                    }

                }

            }
        }
    
        button.update-cart{
            border-radius: 5px;
            background-color: #E77649;
            border: none;
            outline: none;
            min-width: 250px;
            margin-top: 30px;
            margin-right: 40px;
            height: 46px;
            background-color: rgba(231,118,73,1);
        }
    
    }
}