<header>
    <p class="page-breadcrumb"> <span routerLink="/home"> Dashboard </span>/ <span routerLink="/distributor"> {{seletedBrand.name}} </span> / Account Management</p>
    <h3 class="page-title">Account Management</h3>
</header>

<section class="main-section">
    <div class="account-management-list row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group account-search mb-3">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </span>
                        <!-- <span class="input-group-text account-placeholder">
                            TEDA364
                        </span> -->
                        <input type="text" class="form-control" [(ngModel)]="searchText" aria-label="Enter account No." aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" (click)="searchDistributor()">Enter</button>
                        <ul class="list-group list-group-flush" *ngIf="searchText" [hidden]="  distributorSelected">
                            <li class="list-group-item" *ngFor="let c of distributors | orderFilter: searchText" searchHighlight
                                [searchedWord]="searchText" [content]="c" [classToApply]="'font-weight-bold'" [setTitle]="true" (click)="selectDestributor(c)">
                                {{c}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6"></div>

                <div class="clearfix"></div>
                <div  *ngIf="selectedDistributor">
                <div class="account-info">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="info-sub-title">Distributor</p>
                                <p class="info-title"><strong>{{selectedDistributor.code}}</strong></p>
                            </div>
                            <div class="col-4">
                                <p class="info-sub-title">Name</p>
                                <p class="info-title"><strong>{{selectedDistributor.name}}</strong></p>
                            </div>
                            <div class="col-4">
                                <p class="info-sub-title">Brand</p>
                                <p class="info-title"><strong>{{selectedDistributor.brand[0].name}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="account-info-update">
                    <div class="current-account-info">
                        <div class="crates">
                            <h5>{{selectedDistributor.outStandingCrates}}</h5>
                            <p>Outstanding <br> Crates</p>
                        </div>
                        <div class="money">
                            <h5>₹{{selectedDistributor.outStandingAmount}}</h5>
                            <p>Outstanding <br> Money</p>
                        </div>
                    </div>

                    <div class="current-account-edit">
                        <div class="mb-6">
                            <label class="form-label">Crates Recieved</label>
                            <input type="number" class="form-control" placeholder="0" aria-describedby="emailHelp">
                        </div>

                        <div class="mb-6">
                            <label class="form-label">Cash Recieved</label>
                            <input type="number" class="form-control" placeholder="0" aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary update-cart">Update</button>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
</section>
