<header>
  <h3 class="page-title">Add New Question</h3>
</header>
<section class="main-section">
    <div class="add-new-distributor agrisoft-forms">
      <div class="form-section row">
        <form class="g-3 col-6" [formGroup]="form" (ngSubmit)="onSubmit()">
          
          <div class="mb-3">
            <label for="Question" class="form-label">Question</label>
            <textarea class="form-control" id="Question" placeholder="Type Your Question" rows="3" formControlName="questionnaire"></textarea>
            <div *ngIf="submitted && f.questionnaire.errors" class="text-danger">
              <div *ngIf="f.questionnaire.errors.required">Questionnaire is required</div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Option 1" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Value" aria-label="Last name">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Option 2" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Value" aria-label="Last name">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Option 3" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Value" aria-label="Last name">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Option 4" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Value" aria-label="Last name">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Option 5" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Value" aria-label="Last name">
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="Dimension" class="form-label">Dimension</label>
            <select name="Dimension" class="form-control" id="Dimension" formControlName="dimensionId">
              <option value="Dimension 1" *ngFor="let item of dimensionsList; let i = index" [value]="item._id">{{item.name}}</option>
            </select>
            <div *ngIf="submitted && f.dimensionId.errors"  class="text-danger">
              <div *ngIf="f.dimensionId.errors.required">Dimension is required</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="Dimension" class="form-label">Section</label>
            <select name="Block Index	" class="form-control" id="Block Index" formControlName="blockIndex">
              <option value="1">Section 1</option>
              <option value="2">Section	2</option>
              <option value="3">Section	3</option>
              <option value="4">Section 4</option>
              <option value="5">Section	5</option>
            </select>
            <div *ngIf="submitted && f.blockIndex.errors"  class="text-danger">
              <div *ngIf="f.blockIndex.errors.required">Section is required</div>
            </div>
          </div>
          
          <div class="mb-3">
            <div *ngIf="submitted" class="invalid-feedback">
              Please Fill All Product Prices
            </div>
            <button [disabled]="loading" class="btn btn-primary btn-block">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              {{ formType === 'Add New' ? 'Add New' : 'Update' }}
            </button>
          </div>
        </form>
        <div class="col-6"></div>
      </div>
    </div>
  </section>
  